body {
  background-color: #FFFFFF;
  font-family: Roboto,Segoe UI,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    overflow: visible;
}

svg {
    background-color: rgb(250,250,250);
    overflow: visible;
}
.axis {
	font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.info-text {
    color: rgb(100,100,100);
    display: block;
    padding-left: 5%;
}

.line {
  fill: none;
  stroke: #6F257F;
  stroke-width: 5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: orange;
  stroke: orange;
  stroke-width: 5px;
}
  
.hover-line {
  stroke: orange;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}
